<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<table border="1" cellpadding="1" cellspacing="0" class="registrationCard-print-table">
    <tbody>
    <tr>
        <td  class="print-table-left">
            <table>
                <tr >


                    <p class="arabic">
                      <b>  {{ "REGISTRATION_TEXT_LINE_A" | translate }}</b>
                    </p>
                    <br>
                    <p class="arabic">
                        {{ "REGISTRATION_TEXT_LINE_B" | translate}}
                    </p>
                    <p class="arabic">
                        {{ "REGISTRATION_TEXT_LINE_C" | translate }}
                    </p>
                    <p class="arabic">
                        {{ "REGISTRATION_TEXT_LINE_D" | translate }}
                    </p>
                    <p class="arabic">
                        {{ "REGISTRATION_TEXT_LINE_E" | translate }}
                    </p>
                    <p class="arabic">
                        {{ "REGISTRATION_TEXT_LINE_F" | translate }}
                    </p>
                    <p class="arabic">
                        {{ "REGISTRATION_TEXT_LINE_G" | translate }}
                    </p>
                    </ul>

                    </td>
                </tr>
            </table>
        </td>
        <td class="print-table-right" valign="top">
            <table>
                <tr>

                    <td class="print-table-right-header">


                    </td>
                    <td class="registrationCard-photo">
                        <img ng-src="{{patient.image}}" style="width: 20mm; height: 20mm; "
                             onerror="this.onerror=null;this.src='../images/blank.jpeg';"/>
                    </td>
                </tr>

            </table>
            <table class="registrationCard-details">
                <tbody>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Patient ID</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.primaryIdentifier.identifier}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Eng-Name</span>
                    </td>

                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>
                        <span class="data-text">{{patient.givenName}}&nbsp;{{patient.familyName}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Arb-Name</span>
                    </td>

                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>
                        <span class="data-text">{{patient.givenNameLocal}}&nbsp;{{patient.familyNameLocal}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Age</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.age | age}} </td>
                </tr>
                <td class="registrationCard-details-name">
                    <span class="data-text">Gender</span>
                </td>
                <td class="registrationCard-details-seperator"> :  </td>
                <td>{{patient.gender}} </td>
                </tr>

                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Nationality</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.nationality1.value}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Country</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.address3}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Is caretaker required</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td ng-if="patient.isCareTakerRequired">Yes</td>
                    <td ng-if="!patient.isCareTakerRequired">No</td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="data-text">Date</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.dateofAdmission | date:'dd MMM yyyy'}} </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>