<style>
    .discharge-medication-title {
        margin-left: 10px;
        margin-top: 2px;
        margin-bottom: 3px;
    }

    .medication-data {
        text-align: center;
    }
</style>

<section class="tree-list-item clearfix">
    <h2 class="section-title">{{section.title | titleTranslate}}</h2>
    <p class="discharge-medication-title">{{records.title}}</p>
    <table>
        <tr ng-repeat="medication in medications">
            <td>
                {{medication.name}}
            </td>
            <td>
                {{medication.answer}}
            </td>
        </tr>
    </table>
    <ul>
        <li ng-show="isDataPresent()">
            <div class="placeholder-text">
                <p translate="NO_DISCHARGE_MEDICATION_FOUND"></p>
            </div>
        </li>
    </ul>
</section>
