<div id="customControl">
    <h2 class="section-title">{{title | titleTranslate}} </h2>
    <section class="block hierarchy">
        <ul class="form-field" ng-if="isEncounterListShown">
            <li ng-repeat="entry in ::encounterLocationInfo" class="is-text">

                <span class="tree-list-item row-click toggle-container" toggle="entry.isOpen">
                    <i class="fa fa-caret-right"></i>
                    <i class="fa fa-caret-down"></i>
                    <span class="obs-date">
                        {{::entry.encounterDateTime | bahmniDateTime}}
                    </span>
                    <span class="fr">
                        <span>{{entry.providerName}}&nbsp;&nbsp;</span>
                    </span>

                </span>
                    <ul  ng-show="entry.isOpen" >
                        <li>
                            <div class="tree-list-item">
                                <span class="testUnderPanel fl">{{"EncounterType" | titleTranslate }}</span>
                                <span class="value-text-only">{{entry.encounterTypeName}} </span>
                            </div>
                        </li>
                        <li>
                            <div class="tree-list-item">
                                <span class="testUnderPanel fl">{{"VisitType" | titleTranslate }}</span>
                                <span class="value-text-only">{{entry.visitTypeName}}</span>
                            </div>
                        </li>
                        <li>
                            <div class="tree-list-item">
                                <span class="testUnderPanel fl"> {{"Location" | titleTranslate }}</span>
                                <span class="value-text-only">{{entry.locationName }}</span>
                            </div>
                        </li>
                    </ul>
            </li>
        </ul>

        <div ng-if="!isEncounterListShown">
            <div class="placeholder-text" ><p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY"
                                              translate-values="::{displayControl : '{{'encounters' | translate}}'}"></p>
            </div>
        </div>
    </section>
</div>