<link rel="stylesheet" href="/bahmni_config/openmrs/apps/ot/css/otPrintList.css"/>
<h4 style="text-align: center;"> OT Schedule </h4>
<p style="text-align: center;" ng-if="weekOrDay === 'day'">
    {{viewDate | date : 'dd MMM yyyy, EEE'}}
</p>

<p style="text-align: center;" ng-if="weekOrDay === 'week'">
    {{weekStartDate | date : 'dd MMM yyyy, EEE'}} to {{weekEndDate | date : 'dd MMM yyyy, EEE'}}
</p>
<p></p>
    <table  style="border:none;" border="1" cellpadding="2" cellspacing="0">
        <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Identifier
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Start Time
            </th>
            <th>
                Time Est.
            </th>
            <th>
                Procedure(s)
            </th>
            <th>
                Surgeon
            </th>
            <th>
                Appointment Status
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appointment in surgicalAppointmentList">
            <td>
                {{appointment.derivedAttributes.expectedStartDate | bahmniDate}}
            </td>
            <td>
                {{appointment.derivedAttributes.patientIdentifier}}
            </td>
            <td>
                {{appointment.derivedAttributes.patientName}}
            </td>
            <td>
                {{appointment.derivedAttributes.expectedStartTime | bahmniTime}}
            </td>
            <td>
                {{appointment.surgicalAppointmentAttributes.estTimeHours.value}} {{'OT_SURGICAL_APPOINTMENT_HOURS' |
                translate}} : {{appointment.surgicalAppointmentAttributes.estTimeMinutes.value}}
                {{'OT_SURGICAL_APPOINTMENT_MINUTES' | translate}}
                + {{appointment.surgicalAppointmentAttributes.cleaningTime.value}} {{'OT_SURGICAL_APPOINTMENT_MINUTES' |
                translate}}
            </td>
            <td>
                {{appointment.surgicalAppointmentAttributes.procedure.value}}
            </td>
            <td>
                {{appointment.surgicalBlock.provider.person.display}}
            </td>
            <td>
                {{appointment.status}}
            </td>
        </tr>
        </tbody>
    </table>

